<!DOCTYPE html>
<html>
  <head>
    <title>NewzSocial</title>

    <link rel="stylesheet" href="stylesheets/bootstrap.css" >
    <link rel="stylesheet" href="stylesheets/bootstrap-responsive.css" >
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="stylesheets/launch.css">
    <link rel="stylesheet" href="js/select2/select2.css"/>
    <script type="text/javascript">
    

    </script>
  </head>
  <body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/select2/select2.js"></script>
    <script type="text/javascript" src="js/handlebars.runtime.js"></script>
    <script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/templates.compiled.js"></script>
    <script type="text/javascript" src="js/jquery-cookie.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript">
     

      
      
      
        

      
    </script>
  </body>
</html>
