<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Former</title>
	<link rel="stylesheet" href="css/foundation.css">
	<link href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<script src='https://cdn.firebase.com/v0/firebase.js'></script>
	<script src='https://cdn.firebase.com/v0/firebase-simple-login.js'></script>
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>
	<script type="text/javascript" src="js/handlebars.runtime.js"></script>
	<script type="text/javascript" src="js/templates.compiled.js"></script>
	<script type="text/javascript" src="js/editor.js"></script>

	<script type="text/javascript">
		var User = {};
		var myRootRef = new Firebase('https://launchhacky-database.firebaseio.com/');
		myRootRef.on('value', function(data){
			var data = data.val();
			console.log("fetching data from firebase: ", data);

			var title = (data.title.length)?data.title:"Top Bar Title" ;
			var description = (data.description.length)?data.description:"Header Text";
			var feature = (data.feature.length)?data.feature:"Feature 1";
			var feat_description = (data.feat_description)?data.feat_description:"Description";

			User.title = title;
			User.description = description;
			User.feature = feature;
			User.feat_description = feat_description;
			// render();
			$('#eb-title').html(User.title);
			$('#eb-main-description').html(User.description);
			$('#eb-feature').html(User.feature);
			$('#eb-feat-description').html(User.feat_description);
		});
	</script>

</head>
<body class="flex-container">
	<script type="text/javascript">
			$('body').html(Launch.Template.launchtemp({}));
			$('#fb-title, #fb-main-description, #fb-feature, #fb-feat-description').focusout(function(){
				pushToFirebase();
			});
	</script>

</body>
</html>