<!DOCTYPE html>
<html>
	<head>
		<script src='https://cdn.firebase.com/v0/firebase-simple-login.js'></script>
		
	</head>
	<body>
		<button type="button" onclick="appLogin()"> Log in with Faceboook</button>
		
		<script type="text/javascript">
			var chatRef = new Firebase('https://SampleChat.firebaseIO-demo.com');
			var auth = new FirebaseSimpleLogin(chatRef, function(error, user) {
				if (error) {
	    		// an error occurred while attempting login
	    		console.log(error);
				} else if (user) {
	    		// user authenticated with Firebase
	    		console.log('User ID: ' + user.id + ', Provider: ' + user.provider);
				} else {
	    		// user is logged out
				}
			});

			function appLogin(){
				auth.login('facebook');
			}
		</script>

	</body>

</html>