<div class='template_container'>
  <div class='newzsocial_heading'>
    <img id='newzsocial_logo' src="images/newzsocial.png" alt="newzsocial_logo">
  </div>
  <legend>Article not found!</legend>
  {{#each message}}
  <div class="alert alert-info always-on"><strong>{{@key}}: </strong><small>{{value}}</small></div>
  {{/each}}
</div>