<div id='message_container' class='template_container'>
  <div class='newzsocial_heading'>
    <img id='newzsocial_logo' src="images/newzsocial.png" alt="newzsocial_logo">
  </div>
  <center><h3 id="message" class='message'>{{message}}</h3></center>
</div>