<div class='template_container'>
  <div class='newzsocial_heading'>
    <img id='newzsocial_logo' src="images/newzsocial.png" alt="newzsocial_logo">
  </div>
  <center>
    <img src="images/loading.gif">
    <h3>Piping Article...</h3>
  </center>
</div>